@import url("combined.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: #F7F7F7;
  color: #333;
}

main {
  padding: 50px 20px;
}

.main-resources {
  text-align: center;
  margin-bottom: 40px;
}

.main-resources h1 {
  font-size: 2.5rem;
  color: #fa9292;
}

.resources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  justify-items: center;
}

.resource-card {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: auto;
  border: 1px solid black;
}

.resource-card a {
  text-decoration: none;
  color: #fa9292;
}

.resource-card h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.resource-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .navbar-logo {
      font-size: 1.5em;
  }

  .navbar-links a {
      font-size: 1em;
  }

  .main-resources h1 {
      font-size: 2rem;
  }

  .resource-card h2 {
      font-size: 1.4rem;
  }
}