
body{
    font-family: 'Sora', sans-serif;
    background-color: #FFCBCB;
}
  
  nav{
    height: 60px;
    width: 100%;
    display: flexbox;
  }
  
  .NavDiv{
    width:20%;
    text-align: center;
    float: left;
  }
  
  .NavLink{
    color: #f88787;
    text-decoration: none;
    font-size: 2vw;
  }
  .mainResources{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f88787;
    margin-top: -1;
  }
 
  .GridItem {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center; /* Vertically centers the content */
    padding: 0 1vw; /* Adjusts the padding */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    font-size: 2vw;
    height: 10vw;
  }
  
  .GridItem a {
    display: flex;
    width: 100%;
    text-decoration: none; 
    color: #FFB1B1;
    align-items: center;
  }
  
  .GridItem h1 {
    margin: 0;
    flex-grow: 1;
  }
  
  .date {
    font-size: 3vw;
    font-weight: bold;
  }

.GridItem:hover {
  background-color: white;
}

.GridContainer .GridItem:nth-last-child(-n+1) {
  border-bottom: 2px solid black;
}
.GridContainer .GridItem:first-child {
  border-top: 2px solid black;
}

footer {
  color: #ff6161;
  padding: 20px 0; /* Top and bottom padding */
  text-align: center; /* Centers content horizontally */
  font-size: 1rem; /* Font size for footer */
  border-top: 2px solid #FFCBCB; /* Top border for visual separation */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ff6161;
  text-decoration: none;
  margin: 0 10px; 
}

.footer-links a:hover {
  text-decoration: underline; 
}

