@import url("combined.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: #FFF7F7;
  color: #4A4A4A;
}

title{
  text-decoration: none;
}


.hero {
  background: linear-gradient(135deg, #FFECEC, #FFCBCB);
  color: rgb(48, 44, 44);
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.events .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.event-card {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: calc(33% - 20px);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.event-image img {
  width: 100%;
  height: auto;
}

.event-content {
  padding: 15px;
}

.event-content h2 {
  color: #f87f7f;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.event-content span {
  display: block;
  font-size: 0.9rem;
  color: #6D6D6D;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .events .container {
      flex-direction: column;
  }

  .event-card {
      width: 100%;
  }
}
